@import "tailwindcss";

/* Import CSS modules in order of dependency */
@import "./styles/fonts.css";
@import "./styles/variables.css";
@import "./styles/base.css";
@import "./styles/keyframes.css";
@import "./styles/utilities-colors.css";
@import "./styles/utilities-borders.css";
@import "./styles/utilities-interactive.css";
@import "./styles/utilities-misc.css";
