@layer base {
  h1,
  h2,
  h3,
  button,
  a,
  label,
  span {
    font-family: var(--font-minecraft);
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

