@font-face {
  font-family: minecraft;
  src: url("/fonts/Minecraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional; /* Use fallback font if custom font isn't loaded quickly */
}

