@layer utilities {
  /* Border utilities */
  .border-border {
    border-color: hsl(var(--border));
  }
  .border-input {
    border-color: hsl(var(--input));
  }
  .ring-ring {
    --tw-ring-color: hsl(var(--ring));
  }
  .ring-offset-background {
    --tw-ring-offset-color: hsl(var(--background));
  }
}

